body {
    text-align: center;
    background-color: rgb(167, 162, 162);
}

.quadrado {
    text-align: center;
    width: 55px;
    background: #fdfdfd;
    display: inline-block;
    padding: 40px;
    font-size: 55px;
    margin: 5px;
    cursor: pointer;
    color: #080808;
}    

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}    

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #f0b7f0;
    cursor: pointer;    
} 


